<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- page title is variable here passed by the route  -->
    <!-- < % = varName % >  to output a variable  -->
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">